div{
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: green;
}
h2{
  text-align: center;
}
.example-spacer {
  flex: 1 1 auto;
}
.cabecera{
  position: sticky;
  top: 0px;
  background-color: white;
}
